#menu{
	width: 40%;
	height: 80%;
	background-color: #ffffff5e;
	margin-left: 30%;
	margin-top: 5%;
	border-radius: 3%;
	padding-top: 5%;
}

#imagen{
	width: 30%;
	height: 100px;
	background-color: white;
	margin-left: 10%;
	display: inline-block;
}