#inicio{
		width: 25%;
		height: 500px;
		background-color: rgb(198 246 235 / 66%);
		margin-left: 60%;
		margin-top: 5%;

}

#user{
		margin-left: 37%;
		margin-top: 10%;
		margin-bottom: 30%;
}

#nombre{
		margin-left: 10%;

}

